.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.schemeColumn {
    order: 1;
}

.settingsColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 0;
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }
    
    .schemeColumn {
        order: -1;
    }
}
