.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 420px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.row {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.leftColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.previewColumn {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.previewBox {
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewCaption {
    color: var(--g-color-text-secondary);
}